.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0.2rem 1rem 0;
}

.logo {
  font-size: 3rem;
  text-decoration: none;
  color: #8A7E72;
}

.logo .logoStyle {
  font-weight: 900;
  color: #5A2328;
}

.nav ul {
  display: flex;
}

.nav ul li {
  margin: 0 3rem;
}

.nav ul li a {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}

.active {
  text-decoration: underline;
}

@media (max-width: 768px) and (min-width: 426px) {

  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav ul li {
    margin: 0.8rem;
  }
}

@media (max-width: 425px) and (min-width: 376px) {

  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav ul li {
    margin: 0.8rem;
  }
}

@media (max-width: 375px) and (min-width: 320px) {

  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav ul li {
    margin: 0.8rem;
  }
}

@media (max-width: 319px) {

  .nav {
    flex-direction: column;
  }

  .nav ul {
    flex-direction: column;
  }

  .nav ul li {
    margin: 0.8rem;
  }
}