.post ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.title {
  font-weight: 500;
  color: #5A2328;
  text-align: center;
}

.description {
  display: flex;
  border: none;
  border-top: 0.1rem solid #7A9B76;
  border-bottom: 0.1rem solid #7A9B76;
  margin-bottom: 8rem;
}

.edit {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.4rem;
  width: 3.4rem;
  color: white;
  background-color: #7a7a7a;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 400ms;
  text-align: center;
  font-weight: bold;
}

.edit:hover {
  background-color: #373737;
}

.delete {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.4rem;
  width: 3.4rem;
  color: white;
  background-color: #f23427;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 400ms;
  text-align: center;
  font-weight: bold;
}

.delete:hover {
  background-color: #800901;
}

.events {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

@media (max-width: 768px) and (min-width: 426px) {

  .delete,
  .edit {
    font-size: 1.3rem;
    height: 3.2rem;
    width: 3.2rem;
  }

  .events {
    justify-content: space-around;
  }
}

@media (max-width: 425px) and (min-width: 376px) {

  .delete,
  .edit {
    font-size: 1.1rem;
    height: 2.9rem;
    width: 2.9rem;
  }

  .events {
    justify-content: space-around;
  }
}

@media (max-width: 375px) and (min-width: 320px) {

  .delete,
  .edit {
    font-size: 1rem;
    height: 2.7rem;
    width: 2.7rem;
  }

  .events {
    justify-content: space-around;
  }

}

@media (max-width: 319px) {

  .delete,
  .edit {
    font-size: 0.8rem;
    height: 2.4rem;
    width: 2.4rem;
  }

  .events {
    justify-content: space-around;
  }
}